{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/home_about.css' %}">
{% endblock %}
{% block content %}

<header class="home-header">
    <div>
        <h1>welcome to our library</h1>

        <p>
            Discover a futuristic library experience.
            Explore books, knowledge, and imagination in a new digital world.
        </p>

        <div>
            <button class="btn">Sign Up</button>
            <button class="btn">Log in</button>
        </div>
    </div>

    <img class="home-image"
         src="{% static 'core/assets/main-photos/home_photo.svg' %}">
</header>

<section class="bottom">
    <h2>Join Our Library Today</h2>
    <p>Create an account to explore and borrow books.</p>
    <button class="btn">Get Started</button>
</section>

{% endblock %}