/* =========================
   NAVBAR
========================= */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.nav-brand {
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-brand img {
    width: 30px;
    height: 30px;
}

/* LINKS DESKTOP */
.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-links a,
.logout-btn {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.nav-links a:hover,
.nav-links a.active {
    color: white;
    font-weight: 600;
}

/* HAMBURGER ICON */
.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    .hamburger {
        display: block;
    }

    .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 16px;
    left: 16px;

 
    background: linear-gradient(
    135deg,
     rgba(25, 10, 70, 0.919),
    rgba(10, 25, 60, 0.9)
    rgba(48, 21, 116, 0.892),
   
);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);

    flex-direction: column;

    padding: 16px;
    border-radius : 0 0  14px 14px  ;

    gap: 12px;

    z-index: 1000;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.08);
}
    .nav-links.active {
        display: flex;
    }

    .nav-links a,
    .logout-btn {
        width: 100%;
        text-align: left;
        padding: 10px;
        border-radius: 8px;
    }

    .nav-links a:hover {
        background: rgba(255,255,255,0.08);
    }

    .nav-brand {
        font-size: 16px;
    }

    .nav-brand img {
        width: 18px;
        height: 18px;
    }
}