{% extends 'base.html' %}
{% load static %}
{% block title %}kotoby – Sign Up{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'auth_app/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="main-content">
  <div class="container">

    <h2 id="form-title">Create Account</h2>

    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

      <label for="su-username">Username</label><br>
      <input type="text" id="su-username" name="username" placeholder="Choose a username" minlength="3"><br><br>
      
      <label for="su-email">Email</label><br>
      <input type="email" id="su-email" name="email" placeholder="your@email.com"><br><br>

      <label for="su-firstname">First Name</label><br>
      <input type="text" id="su-firstname" name="first_name" placeholder="Your first name"><br><br>

      <label for="su-lastname">Last Name</label><br>
      <input type="text" id="su-lastname" name="last_name" placeholder="Your last name"><br><br>
      
      <label for="su-password">Password</label><br>
      <input type="password" id="su-password" name="password1" placeholder="Min 8 characters"><br><br>

      <label for="su-confirm">Confirm Password</label><br>
      <input type="password" id="su-confirm" name="password2" placeholder="Repeat your password"><br><br>
      
      

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: salmon; text-align: center;">{{field.name}}:{{ error }}</p>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <div class="submit">
        <input type="submit" id="mySubmit" value="Sign Up">
      </div>
    </form>

    <p id="quest">Already have an account? <a href="{% url 'login' %}">Login</a></p>

  </div>
</div>
{% endblock %}